body{
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Nixie";
    src: url("./assets/font/NixieOne-Regular.ttf");
}

.navbar{
    height: 90px;
    width: 100%;
    background-color: #050a30d0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.267);

    z-index: 3;

    display: flex;
    align-items: center;
    column-gap: 200px;

    padding: 0px 80px 0px 80px;

    position: fixed;
    top: 0;

}

.navbarLogo{
    cursor: pointer;
    height: 50px;
}

.navbarLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.navbarLinks a{
    font-size: 25px;
    font-family: "Nixie";
    text-decoration: none;
    color: #FFFFFF;
    transition: transform 0.2s ease-in-out;
}

.navbarLinks a:hover{
    transform: scale(1.01);
}

.welcomeBox{
    width: 100%;
    height:600px;
    display: flex;
}

.welcomeText{
    height: inherit;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
    
    color: #FFFFFF;
    font-family: "Nixie";
    font-size: 30pt;
    font-weight: 400;

    padding: 5px;
    background-color: #050a3027;
}

.welcomeBoxTransistion{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-size:cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-attachment: fixed;
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    padding: 2px;
}

.buttonBox a{
    font-family: "Nixie";
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
}

.buttonBox:active{
    transform: scale(0.98);
}

.focusBox{
    z-index: 2;
    padding: 80px 80px 80px 80px;
    display: flex;
    column-gap: 300px;
}

.focusRightImg{
    height: 600px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.164);
    transition: transform 0.5s ease-in-out;
}

.focusBox span{
    font-family: "Nixie";
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.focusLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   row-gap: 50px;
}

.focusLeftImg{
    height: 120px;
    transition: transform 0.5s ease-in-out;
}

.focusLeftImg:hover, .focusRightImg:hover{
    transform: scale(1.02);
}

.servicesBox{
    background-color: #ffffff;
    height: auto;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.servicesTitle{
    font-family: "Nixie";
    color: #050a30;
    font-size: 60px;
    text-align: center;
    text-decoration: underline 3px;
}

.carousel{
    width: 80%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.24);
}

.d-block{
    height: 500px;
}


.doctorBox{

    padding-right: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 600px;

    background-image: url('./assets/img/walter.JPG');
    background-attachment: fixed;

    background-size: cover;
    background-position: top;
}

.fadeBox{
    opacity: 0;
    transition: opacity 2s ease;

    background-color: #FFFFFF;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.185);
    border-radius: 0px 10px 0px 10px;
    
    height: 400px;
    width: 600px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;

    padding: 0px 60px 0px 60px;
}

.doctorTitle{
    font-size: 30px;
    text-decoration: underline 2px;
    font-family: "Nixie";
    color: #050a30;
    font-weight: 600;
}

.doctorText{
    font-family: "Nixie";
    text-align: justify;
    font-weight: 600;
    color: #050a30;
    font-size: 18px;
}

.fadeBox.active{
    opacity: 1;
}

.contactBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 80px 50px 80px;
    row-gap: 30px;
}

.contactInsideBox{
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 20px;
}

.contactTitle{
    margin-bottom: 5px;
    font-family: "Nixie";
    font-size: 60px;
    color: #050a30;
    text-decoration: underline 3px;
}

.contactText{
    font-family: "Nixie";
    font-size: 25px;
    color: #050a30;
    font-weight: 600;
}

.contactText2{
    font-family: "Nixie";
    font-size: 25px;
    color: #03082b;
}

.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 25px;
}

.subtitleBox{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 5px;
}

.linksComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.linksComponent a{
    text-decoration: none;
    font-family: "Nixie";
    color: #0f1d8b;
    font-weight: 600;
}

.linksComponent a:hover{
    color: #001eff;
}

.fa-whatsapp{
    color: green;
}

.fa-instagram{
    color: rgb(255, 0, 119);
}

.fab{
    cursor: pointer;
}


.foot{
    width: 100%;
    background-color: #050a30d0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot img{
    height: 70px;
}

.foot span{
    font-size: 10px;
    color: #FFFFFF;
}

@media screen and (max-width: 500px){


    .navbar{
       flex-direction: column;
       width: 100%;
       height: auto;
       column-gap: 0px;
       padding: 5px;
    }

    .welcomeText{
        text-align: center;
    }

    .welcomeBoxTransistion{
        background-size: 800px;
        background-position: -200px 0px;
    }

    .focusBox{
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .focusRightImg{
        width: 300px;
        height: 300px;
        display: none;
    }

    .focusLeft{
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .focusLeftImg{
        align-self: center;
    }

    .focusLeft span{
        max-height: 300px;
        font-size: 18px;
        line-height: 21px;
        text-align: justify;
    }

    .servicesBox{
        row-gap: 15px;
    }

    .servicesTitle{
        font-size: 40px;
    }
    
    .d-block{
        height: 300px;
    }

    .carousel-caption{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        background-color: #050a3093;
        border-radius: 10px;
    }

    .carousel-caption p, h5{
        font-size: 10px;
        padding: 5px;
    }

    .carousel-caption h5{
        margin-bottom: -2px;
    }

    .carousel-caption p{
        margin-bottom: -5px;
    }

    .doctorBox{
        justify-content: center;
        padding-right: 0px;
        background-size: 600px;
        background-position: top;
    }

    .fadeBox{
        height: auto;
        width: 320px;
        row-gap: 5px;
        padding: 20px 60px 20px 60px;
        background-color: #ffffffec;
    }

    .doctorTitle{
        font-size: 20px;
    }

    .doctorText{
        font-size: 15px;
    }

    .contactInsideBox{
        flex-direction: column-reverse;
    }

    .contactText, .contactText2{
        font-size: 20px;
    }

    .contactBox{
        width: fit-content;
        padding: 20px;
    }

    .phone{
        width: 350px;
    }

}
